fastapi
uvicorn
sqlalchemy
pydantic
psycopg2-binary
python-dotenv
python-multipart
python-jose[cryptography]
passlib[bcrypt]
pydantic-settings
email-validator
bcrypt==4.0.1
easyocr
phonenumbers
python-whois
python-dateutil
